# The releng team is by default the owner of everything.
*             @eclipse-eclemma/eclipsefdn-releng

# Otterdog related configurations are also owned by the security team.
/otterdog/**  @eclipse-eclemma/eclipsefdn-security @eclipse-eclemma/eclipsefdn-releng
